* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../../Climate_Change_Background.jpg") no-repeat fixed center;
    background-size: cover;
}

header {
    font-family: 'Cinzel', serif;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 1.875rem;
    width: 100%;
    padding: 1rem;
}

.name {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    width: 100%;
    text-align: center;
    margin: 3rem auto auto auto;
}

.description {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 50rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    padding: .5rem;
    font-family: Helvetica, sans-serif;
}

.search-city {
    background-color: black;
    border-radius: 5rem;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    top: 1rem;
}

.city {
    font-size: 2rem;
    text-align: center;
}

.submit {
    background-color: black;
    border-radius: 5rem;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    top: .5rem;
}

.submit:hover {
    background-color: white;
    color: black;
}

#map {
    width: 50%;
    height: 500px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
  }

.tempModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.tempContent {
    width: 50rem;
    height: 30rem;
    background-color: black;
    border-radius: 4rem;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 4rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: white;
}

.tempTextContainer p {
    font-size: 2rem;
    margin-top: .1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LOADER 2 */
.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-2 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

@media screen and (max-width: 1060px) {

}

@media screen and (max-width: 768px) {

}