* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/Users/jahpe777/Projects/API_Hack/Climate_Change_Background.jpg") no-repeat fixed center;
    background-size: cover;
}

header {
    font-family: 'Cinzel', serif;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 1.875rem;
    width: 100%;
    padding: 1rem;
}

.name {
    background: black;
    color: white;
    width: 50rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    width: 100%;
    text-align: center;
    margin: 3rem auto auto auto;
}

.description {
    background: black;
    color: white;
    width: 55rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

.city-submit {
    position: relative;
    bottom: 4rem;
}

.search-city {
    background-color: black;
    border-radius: 5rem;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    top: 5rem;
}

.search-city:hover {
    background-color: white;
    color: black;
}

.city {
    font-size: 2rem;
    text-align: center;
}

.submit {
    background-color: black;
    border-radius: 5rem;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    top: .5rem;
}

.submit:hover {
    background-color: white;
    color: black;
}

img {
    width: 90%;
    margin-bottom: 3rem;
 }

.jamesModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.jamesContent {
    width: 50rem;
    height: 30rem;
    background-color: white;
    border-radius: 4rem;
    text-align: center;
    position: relative;
}

.jamesImage {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    border-radius: 4rem;
    margin-top: 2rem;
}

.close {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 4rem;
    transform: rotate(45deg);
    cursor: pointer;
}

h4 {
    font-size: 2rem;
}

@media screen and (max-width: 1060px) {

}

@media screen and (max-width: 768px) {

}